#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 0.5em 0;
}
